{% extends "layout.html" %}
{% import "pagination.html" as p %}
{% block title %}product_line{% endblock %}
{% block body %}
<!-- partial1 start -->
<div class="row">
  <div class="col-md-12 well">
    <h3>index - contents</h3>

    {% if pagination %}
    {% if pagination.total > pagination.per_page %}
        {{ p.pagination_widget(pagination,'.product_line_page') }}
    {% endif %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>product Line</th>
          <th>text Description</th>
          <th>html Description</th>
          <th>image</th>
        </tr>
      </thead>
      <tbody>
      {% for product_line in pagination.items %}
        <tr>
          <td>{{ (pagination.prev_num * pagination.per_page) + loop.index }}</td>
          <td>{{ product_line.product_line }}</td>
          <td>{{ product_line.text_description }}</td>
          <td>{{ product_line.html_description|filter_suppress_none }}</td>
          <td>{{ product_line.image|filter_suppress_none }}</td>
          <td>
            <a class="btn btn-default" href="/productline/detail/{{ product_line.id }}">detail</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
<!-- partial1 end -->
{% endblock %}