{% extends "layout.html" %}
{% block title %}customer{% endblock %}
{% block body %}

    <!-- partial1 start -->
    <div class="row">
        <div class="col-md-12 well">
            <h3>detail - contents</h3>
            <form action="{{ url_for('.detail', customer_id = form.id.data) }}" method="post">
                {{ form.hidden_tag() }}

                <table class="table">
                    <tbody>
                    <tr>
                        <th class="field-label col-xs-3 active">{{ form.id.label }}</th>
                        <td class="col-md-9">{{ form.id.data }}</td>
                    </tr>
                    <tr>
                        <th class="field-label col-xs-3 active">{{ form.customer_number.label }}</th>
                        <td class="col-md-9">{{ form.customer_number }}</td>
                    </tr>
                    <tr>
                        <th class="field-label col-xs-3 active">{{ form.customer_name.label }}</th>
                        <td class="col-md-9">{{ form.customer_name }}</td>
                    </tr>
                    <tr>
                        <th class="field-label col-xs-3 active">{{ form.contact_last_name.label }}</th>
                        <td class="col-md-9">{{ form.contact_last_name }}</td>
                    </tr>
                    <tr>
                        <th class="field-label col-xs-3 active">{{ form.contact_first_name.label }}</th>
                        <td class="col-md-9">{{ form.contact_first_name }}</td>
                    </tr>
                    <tr>
                        <th class="field-label col-xs-3 active">{{ form.phone.label }}</th>
                        <td class="col-md-9">{{ form.phone }}</td>
                    </tr>
                    <tr>
                        <th class="field-label col-xs-3 active">{{ form.address_line1.label }}</th>
                        <td class="col-md-9">{{ form.address_line1 }}</td>
                    </tr>
                    <tr>
                        <th class="field-label col-xs-3 active">{{ form.address_line2.label }}</th>
                        <td class="col-md-9">{{ form.address_line2 }}</td>
                    </tr>
                    <tr>
                        <th class="field-label col-xs-3 active">{{ form.city.label }}</th>
                        <td class="col-md-9">{{ form.city }}</td>
                    </tr>
                    <tr>
                        <th class="field-label col-xs-3 active">{{ form.state.label }}</th>
                        <td class="col-md-9">{{ form.state }}</td>
                    </tr>
                    <tr>
                        <th class="field-label col-xs-3 active">{{ form.postal_code.label }}</th>
                        <td class="col-md-9">{{ form.postal_code }}</td>
                    </tr>
                    <tr>
                        <th class="field-label col-xs-3 active">{{ form.country.label }}</th>
                        <td class="col-md-9">{{ form.country }}</td>
                    </tr>
                    <tr>
                        <th class="field-label col-xs-3 active">{{ form.sales_rep_employee_number.label }}</th>
                        <td class="col-md-9">{{ form.sales_rep_employee_number }}</td>
                    </tr>
                    <tr>
                        <th class="field-label col-xs-3 active">{{ form.credit_limit.label }}</th>
                        <td class="col-md-9">{{ form.credit_limit }}</td>
                    </tr>
                    </tbody>
                </table>
                {{ form.submit }}
            </form>

        </div>
    </div>
    <!-- partial1 end -->
{% endblock %}