{% extends "layout.html" %}
{% import "pagination.html" as p %}
{% block title %}customer{% endblock %}
{% block body %}
<!-- partial1 start -->
<div class="row">
  <div class="col-md-12 well">
    <h3>index - contents</h3>

    <div class="row">
      <div class="col-md-7">
        {% if pagination %}
        {% if pagination.total > pagination.per_page %}
          {{ p.pagination_widget(pagination,'.customer_page') }}
        {% endif %}
      </div>
      <div class="col-md-1">
        <a class="btn btn-success" href="{{ url_for('.create') }}" style="margin: 20px 0;">create</a>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>id</th>
          <th>customer Number</th>
          <th>customer Name</th>
          <th>contact Last Name</th>
          <th>contact First Name</th>
          <th>city</th>
          <th>state</th>
          <th>postal Code</th>
          <th>country</th>
          <th>sales Rep Employee Number</th>
          <th>credit Limit</th>
          <th>detail</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in pagination.items %}
        <tr>
          <td>{{ (pagination.prev_num * pagination.per_page) + loop.index }}</td>
          <td>{{ customer.id }}</td>
          <td>{{ customer.customer_number }}</td>
          <td>{{ customer.customer_name }}</td>
          <td>{{ customer.contact_last_name }}</td>
          <td>{{ customer.contact_first_name }}</td>
          <td>{{ customer.city|filter_suppress_none }}</td>
          <td>{{ customer.state|filter_suppress_none }}</td>
          <td>{{ customer.postal_code|filter_suppress_none }}</td>
          <td>{{ customer.country|filter_suppress_none }}</td>
          <td>{{ customer.sales_rep_employee_number|filter_suppress_none }}</td>
          <td>{{ customer.credit_limit|filter_suppress_none }}</td>
          <td>
            <a class="btn btn-default" href="{{ url_for('.detail', customer_id=customer.id) }}">detail</a>
          </td>
          <td>
            <a class="btn btn-danger" href="{{ url_for('.delete', customer_id=customer.id) }}">delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
<!-- partial1 end -->
{% endblock %}