{% extends "layout.html" %}
{% block title %}product{% endblock %}
{% block body %}
<!-- partial1 start -->
<div class="row">
  <div class="col-md-12 well">
    <h3>detail - contents</h3>

    {% if form.id.data %}
    <form action="{{ url_for('.detail', product_id = form.id.data) }}" method="post">
    {% else %}
    <form action="{{ url_for('.create') }}" method="post">
    {% endif %}
    {{ form.hidden_tag() }}
      <table class="table">
        <tbody>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.id.label }}</th>
            <td class="col-md-9">{{ form.id.data|filter_suppress_none }}</td>
          </tr>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.product_code.label }}</th>
            <td class="col-md-9">{{ form.product_code }}</td>
          </tr>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.product_name.label }}</th>
{#          <td class="col-md-9" th:text="*{#vhs.substring(productName,10)}">productName</td>#}
            <td class="col-md-9">{{ form.product_name }}</td>
          </tr>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.product_line.label }}</th>
            <td class="col-md-9">{{ form.product_line }}</td>
          </tr>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.product_scale.label }}</th>
            <td class="col-md-9">{{ form.product_scale }}</td>
          </tr>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.product_vendor.label }}</th>
            <td class="col-md-9">{{ form.product_vendor }}</td>
          </tr>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.product_description.label }}</th>
{#          <td class="col-md-9" th:text="*{#vhs.substring(productDescription,10)}">productDescription</td>#}
            <td class="col-md-9">{{ form.product_description }}</td>
          </tr>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.quantity_in_stock.label }}</th>
            <td class="col-md-9">{{ form.quantity_in_stock }}</td>
          </tr>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.buy_price.label }}</th>
            <td class="col-md-9">{{ form.buy_price }}</td>
          </tr>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.msrp.label }}</th>
            <td class="col-md-9">{{ form.msrp }}</td>
          </tr>
        </tbody>
      </table>
      {{ form.submit }}
    </form>

  </div>
</div>
<!-- partial1 end -->
{% endblock %}