{% extends "layout.html" %}
{% block title %}product{% endblock %}
{% block body %}
<!-- partial1 start -->
<div class="row">
  <div class="col-md-12 well">
    <h3>detail - contents</h3>

    {% if product %}
    <table class="table">
      <tbody>
        <tr>
          <th class="field-label col-xs-3 active">id</th>
          <td class="col-md-9">{{ product.id }}</td>
        </tr>
        <tr>
          <th class="field-label col-xs-3 active">productCode</th>
          <td class="col-md-9">{{ product.product_code }}</td>
        </tr>
        <tr>
          <th class="field-label col-xs-3 active">productName</th>
{#          <td class="col-md-9" th:text="*{#vhs.substring(productName,10)}">productName</td>#}
          <td class="col-md-9">{{ product.product_name }}</td>
        </tr>
        <tr>
          <th class="field-label col-xs-3 active">productLine</th>
          <td class="col-md-9">{{ product.product_line }}</td>
        </tr>
        <tr>
          <th class="field-label col-xs-3 active">productScale</th>
          <td class="col-md-9">{{ product.product_scale }}</td>
        </tr>
        <tr>
          <th class="field-label col-xs-3 active">productVendor</th>
          <td class="col-md-9">{{ product.product_vendor }}</td>
        </tr>
        <tr>
          <th class="field-label col-xs-3 active">productDescription</th>
{#          <td class="col-md-9" th:text="*{#vhs.substring(productDescription,10)}">productDescription</td>#}
          <td class="col-md-9">{{ product.product_description }}</td>
        </tr>
        <tr>
          <th class="field-label col-xs-3 active">quantityInStock</th>
          <td class="col-md-9">{{ product.quantity_in_stock }}</td>
        </tr>
        <tr>
          <th class="field-label col-xs-3 active">buyPrice</th>
          <td class="col-md-9">{{ product.buy_price }}</td>
        </tr>
        <tr>
          <th class="field-label col-xs-3 active">MSRP</th>
          <td class="col-md-9">{{ product.msrp }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}

  </div>
</div>
<!-- partial1 end -->
{% endblock %}