{% extends "layout.html" %}
{% import "pagination.html" as p %}
{% block title %}product{% endblock %}
{% block body %}
<!-- partial1 start -->
<div class="row">
  <div class="col-md-12 well">
    <h3>index - contents</h3>

    <div class="row">
      <div class="col-md-7">
        {% if pagination %}
        {% if pagination.total > pagination.per_page %}
          {{ p.pagination_widget(pagination,'.product_page') }}
        {% endif %}
      </div>
      <div class="col-md-1">
        <a class="btn btn-success" href="{{ url_for('.create') }}" style="margin: 20px 0;">create</a>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>product Code</th>
          <th>product Name</th>
          <th>product Line</th>
          <th>product Scale</th>
          <th>product Vendor</th>
          <th>quantity In Stock</th>
          <th>buy Price</th>
          <th>MSRP</th>
          <th>detail</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody>
      {% for product in pagination.items %}
        <tr>
          <td>{{ (pagination.prev_num * pagination.per_page) + loop.index }}</td>
          <td>{{ product.product_code }}</td>
          <td>{{ product.product_name }}</td>
          <td>{{ product.product_line }}</td>
          <td>{{ product.product_scale }}</td>
          <td>{{ product.product_vendor }}</td>
          <td>{{ product.quantity_in_stock }}</td>
          <td>{{ product.buy_price }}</td>
          <td>{{ product.msrp }}</td>
          <td>
            <a class="btn btn-default" href="{{ url_for('.detail', product_id=product.id) }}">detail</a>
          </td>
          <td>
            <a class="btn btn-danger" href="{{ url_for('.delete', product_id=product.id) }}">delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
<!-- partial1 end -->
{% endblock %}