{% extends "layout.html" %}
{% import "pagination.html" as p %}
{% block title %}orders{% endblock %}
{% block body %}
<!-- partial1 start -->
<div class="row">
  <div class="col-md-12 well">
    <h3>index - contents</h3>
    <div class="row">
      <div class="col-md-7">
        {% if pagination %}
        {% if pagination.total > pagination.per_page %}
          {{ p.pagination_widget(pagination,'.orders_page') }}
        {% endif %}
      </div>
      <div class="col-md-1">
        <a class="btn btn-success" href="{{ url_for('.create') }}" style="margin: 20px 0;">create</a>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>id</th>
          <th>order Number</th>
          <th>order Date</th>
          <th>required Date</th>
          <th>shipped Date</th>
          <th>status</th>
          <th>customer Number</th>
          <th>detail</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody>
      {% for orders in pagination.items %}
        <tr>
          <td>{{ (pagination.prev_num * pagination.per_page) + loop.index }}</td>
          <td>{{ orders.id }}</td>
          <td>{{ orders.order_number }}</td>
          <td>{{ orders.order_date|datetime_format("%Y/%m/%d") }}</td>
          <td>{{ orders.required_date|datetime_format("%Y/%m/%d") }}</td>
          <td>{{ orders.shipped_date|datetime_format("%Y/%m/%d") }}</td>
          <td>{{ orders.status|filter_suppress_none }}</td>
          <td>{{ orders.customer_number|filter_suppress_none }}</td>
          <td>
            <a class="btn btn-default" href="{{ url_for('.detail', orders_id=orders.id) }}">detail</a>
          </td>
          <td>
            <a class="btn btn-danger" href="{{ url_for('.delete', orders_id=orders.id) }}">delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
<!-- partial1 end -->
{% endblock %}
