{% extends "layout.html" %}
{% import "pagination.html" as p %}
{% block title %}orders{% endblock %}
{% block body %}
<!-- partial1 start -->
<div class="row">
  <div class="col-md-12 well">
    <h3>index - contents</h3>

    {% if pagination %}
    {% if pagination.total > pagination.per_page %}
        {{ p.pagination_widget(pagination,'.orders_page') }}
    {% endif %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>id</th>
          <th>order Number</th>
          <th>order Date</th>
          <th>required Date</th>
          <th>shipped Date</th>
          <th>status</th>
          <th>customer Number</th>
          <th>detail</th>
        </tr>
      </thead>
      <tbody>
      {% for order in pagination.items %}
        <tr>
          <td>{{ (pagination.prev_num * pagination.per_page) + loop.index }}</td>
          <td>{{ order.id }}</td>
          <td>{{ order.order_number }}</td>
          <td>{{ order.order_date|datetime_format("%Y/%m/%d") }}</td>
          <td>{{ order.required_date|datetime_format("%Y/%m/%d") }}</td>
          <td>{{ order.shipped_date|datetime_format("%Y/%m/%d") }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.customer_number }}</td>
          <td>
            <a class="btn btn-default" href="/orders/detail/{{ order.id }}">detail</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
<!-- partial1 end -->
{% endblock %}
