{% extends "layout.html" %}
{% block title %}payment{% endblock %}
{% block body %}
<!-- partial1 start -->
<div class="row">
  <div class="col-md-12 well">
    <h3>detail - contents</h3>

    {% if form.id.data %}
    <form action="{{ url_for('.detail', payment_id = form.id.data) }}" method="post">
    {% else %}
    <form action="{{ url_for('.create') }}" method="post">
    {% endif %}
    {{ form.hidden_tag() }}
      <table class="table">
        <tbody>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.id.label }}</th>
            <td class="col-md-9">{{ form.id.data|filter_suppress_none }}</td>
          </tr>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.customer_number.label }}</th>
            <td class="col-md-9">{{ form.customer_number }}</td>
          </tr>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.check_number.label }}</th>
            <td class="col-md-9">{{ form.check_number }}</td>
          </tr>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.payment_date.label }}</th>
            <td class="col-md-9">{{ form.payment_date }}</td>
          </tr>
          <tr>
            <th class="field-label col-xs-3 active">{{ form.amount.label }}</th>
            <td class="col-md-9">{{ form.amount }}</td>
          </tr>
        </tbody>
      </table>
    {{ form.submit }}
    </form>

  </div>
</div>
<!-- partial1 end -->
{% endblock %}