{% extends "layout.html" %}
{% block title %}payment{% endblock %}
{% block body %}
<!-- partial1 start -->
<div class="row">
  <div class="col-md-12 well">
    <h3>detail - contents</h3>

    {% if payment %}
    <table class="table">
      <tbody>
        <tr>
          <th class="field-label col-xs-3 active">id</th>
          <td class="col-md-9">{{ payment.id }}</td>
        </tr>
        <tr>
          <th class="field-label col-xs-3 active">customer Number</th>
          <td class="col-md-9">{{ payment.customer_number }}</td>
        </tr>
        <tr>
          <th class="field-label col-xs-3 active">check Number</th>
          <td class="col-md-9">{{ payment.check_number }}</td>
        </tr>
        <tr>
          <th class="field-label col-xs-3 active">payment Date</th>
          <td class="col-md-9">{{ payment.payment_date }}</td>
        </tr>
        <tr>
          <th class="field-label col-xs-3 active">amount</th>
          <td class="col-md-9">{{ payment.amount }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}

  </div>
</div>
<!-- partial1 end -->
{% endblock %}