{% extends "layout.html" %}
{% import "pagination.html" as p %}
{% block title %}payment{% endblock %}
{% block body %}
<!-- partial1 start -->
<div class="row">
  <div class="col-md-12 well">
    <h3>index - contents</h3>

    <div class="row">
      <div class="col-md-7">
        {% if pagination %}
        {% if pagination.total > pagination.per_page %}
          {{ p.pagination_widget(pagination,'.payment_page') }}
        {% endif %}
      </div>
      <div class="col-md-1">
        <a class="btn btn-success" href="{{ url_for('.create') }}" style="margin: 20px 0;">create</a>
      </div>
    </div>
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>id</th>
          <th>customer Number</th>
          <th>check Number</th>
          <th>payment Date</th>
          <th>amount</th>
          <th>detail</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody>
        {% for payment in pagination.items %}
        <tr>
          <td>{{ (pagination.prev_num * pagination.per_page) + loop.index }}</td>
          <td>{{ payment.id }}</td>
          <td>{{ payment.customer_number }}</td>
          <td>{{ payment.check_number }}</td>
          <td>{{ payment.payment_date|datetime_format("%Y/%m/%d") }}</td>
          <td>{{ payment.amount }}</td>
          <td>
            <a class="btn btn-default" href="/payment/detail/{{ payment.id }}">detail</a>
          </td>
          <td>
            <a class="btn btn-danger" href="/payment/delete/{{ payment.id }}">delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

  </div>
</div>
<!-- partial1 end -->
{% endblock %}